@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main-videos {
  display: flex;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  flex-direction: column;
  width: 90%;
  height: 110vh;

  font-family: "Inter";
  font-style: normal;

  color: var(--primary-text);

  background-color: var(--primary-bg);
}

.videos-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

.videos-header h2 {   
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 0px;
}

.videos-header .videos-header__bg {
  width: 90%;
  height: 2rem;

  background: radial-gradient(99.3% 362248.93% at 100% 50.05%, #9B57DE 0%, rgba(155, 87, 222, 0) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.videos-header .icon {
  display: flex;
  position: absolute;
  top: 36px;
  left: 0px;
  padding-bottom: 5px;

  width: 40px;
  height: 40px;
}

.container-videos {
  display: flex;
  width: 100%;
  height: 100vh;
}

.video-principal {
  width: 100%;
  margin-top: 50px;
  margin-left: 80px;
}

.video-principal>img {
  width: 100%;
  height: 70vh;

  margin-bottom: 12px;
  border-radius: 5px;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: 1px solid rgb(38, 36, 87);
}

.video-principal img:hover{
  box-shadow: rgba(33, 6, 44, 0.2) 0px 0px 0px 6px, rgba(6, 24, 44, 0.65) 0px 6px 8px -3px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.video-principal h2 {
  margin-bottom: 35px;
}

.video-principal > p {
  width: 100%;
  height: 185px;
  margin-top: 1rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 29px;
  text-align: justify;
}

.flex_row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-top: 47px;
}

.thumbnail-video>img { 
  width: 100%; 
  border-radius: 5px;
  height: 9rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 3px, rgba(6, 24, 44, 0.75) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
  border: var(--primary-bg) 1px solid;
}

.thumbnail img:hover {
  box-shadow: rgba(33, 6, 44, 0.2) 0px 0px 0px 6px, rgba(6, 24, 44, 0.65) 0px 6px 8px -3px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.clicked {
  border: 5px solid black;
}
